name: Build Apple

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install CMake
        run: brew install cmake zip

      - name: Build binaries for Apple platforms
        run: ./mk-apple

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: |
            build/srt.xcframework.zip
            build/srt.xcframework.zip.checksum
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
